{% extends 'core/base.html' %}
{% load static %}


{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'career/css/apply.css' %}">
{% endblock corecss %}


{% block title %}
    Application Form
{% endblock title %}


{% block header %}
    <header class="header">
        {% include 'core/navbar.html' %}
    </header>
{% endblock header %}


{% block content %}
    <h1>{{pos}} Application Form</h1>
    <section class="apply-form">
        <div class="container">
            <small class="text-danger">* marked filed are mandatory</small>
            <form action="" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                    <div class="form-group">
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </section>
{% endblock content %}