{% extends 'core/base.html' %}
{% load static %}

{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'career/css/dept.css' %}">
{% endblock corecss %}

{% block title %}
    Careers
{% endblock title %}

{% block header %}
    <header class="header">
        {% include 'core/navbar.html' %}
    </header>
{% endblock header %}

{% block content %}
    <section class="vision">
        <h2 class="txt">We</h2>
            <ul class="dynamic-txt">
                <li style="color: #1a73e8;"><span>Gather</span></li>
                <li style="color: #34a853;"><span>Design</span></li>
                <li style="color: #f9ab00;"><span>Develop</span></li>
                <li style="color: #fc6d68;"><span>Deploy</span></li>
            </ul>
        <h2 class="static-txt">for everyone</h2>
        <p>Find you 1st or next workplace at InstaPreps by 7Classes.</p>
    </section>


    <section class="departments">
        <h1 class="section-heading">Departments</h1>
        <div class="dpt-name">
            {% for dt in dpt %}
                <a href="{% url 'position' dt.id %}"><h3>{{dt.dept_name}}</h3></a>
            {% endfor %}
        </div>
    </section>
{% endblock content %}



{% block footer %}
    {% include 'core/footer.html' %}
{% endblock footer %}