{% extends 'core/base.html' %}
{% load static %}
{% load myfilter %}


{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'career/css/job.css' %}">
{% endblock corecss %}


{% block title %}
    Job Positions
{% endblock title %}

{% block header %}
    <header class="header">
        {% include 'core/navbar.html' %}
    </header>
{% endblock header %}


{% block content %}
    <section class="posts">

        {% for j in jb_p %}
            <div class="post">
                <h1>{{j.position}}</h1>
                <div class="info">
                    <p><i class="fas fa-laptop"></i> <span>{{j.department}}</span></p>
                    <p><i class="fas fa-location-arrow"></i> <span>{{j.location}}</span></p>
                </div>
                <div class="quali">
                    <h3>Qualifications : </h3>
                    {% for ql in j.qualifications|split_String:"|" %}
                        <p><strong>{{forloop.counter}}.</strong> {{ql}}</p>
                    {% endfor %}
                </div>
                <div class="quali">
                    <h3>Responsibility : </h3>
                    {% for rl in j.responsibility|split_String:"|" %}
                        <p><strong>{{forloop.counter}}.</strong> {{rl}}</p>
                    {% endfor %}
                </div>
                <div class="quali">
                    <h3>Salary | Stipend : </h3>
                        <p>{{j.salary}}</p>
                </div>
                <a href="{% url 'dtls' j.department j.position %}">Apply Now</a>
            </div>
        {% endfor %}

    </section>
{% endblock content %}