{% extends 'core/base.html' %}
{% load static %}



{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'career/css/thank.css' %}">
{% endblock corecss %}



{% block title %}
    Thank You
{% endblock title %}



{% block header %}
    <header class="header">
        {% include 'core/navbar.html' %}
    </header>
{% endblock header %}


{% block content %}
    <section class="msg">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %} >{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="content">
            <h1>Thank You for applying.</h1>
            <p>Wish You good luck !!</p>
        </div>

        <div class="btns">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'dept' %}">Career</a>
        </div>
    </section>
{% endblock content %}