<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30bc42bb1a.js" crossorigin="anonymous"></script>
    {% block corecss %}
        <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    {% endblock corecss %}
    <title> {% block title %}{% endblock title %} | InstaPreps </title>
</head>
<body>
    {% block header %}
    
    {% endblock header %}

    {% block content %}

    {% endblock content %}

    {% block footer %}

    {% endblock footer %}

    {% block script %}
        <script src="{% static 'core/js/core.js' %}"></script>
    {% endblock script %}

</body>
</html>