{% load static %}
<footer>
    <div class="explore">
        <h3>Explore Life at 7Classes</h3>
        <div class="social-icons">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>

    <hr>

    <div class="info">
        <div class="more-info">
            <h3>More about us</h3>
            <div>
                <a href="https://web.instapreps.com/" target="_blank" rel="noopener noreferrer">Official Website</a>
                <a href="https://web.instapreps.com/" target="_blank" rel="noopener noreferrer">About</a>
                <a href="https://web.instapreps.com/" target="_blank" rel="noopener noreferrer">Contact</a>
            </div>
        </div>
        <div class="moto">
            <h3>Equal Opportunity</h3>
            <p>Here at 7Classes we provide equal opportunites to everyone regardless of any sort of discrimination based on caste, creed, religion, color etc. We believe that everyone does not possess same qualities but we help them follow their passion and build their own qualities. People working with us never feel as employees or under-ratted. We believe in building <strong>Solopreneurs</strong> who work for individual upliftment as well as the upliftment of the company.</p>
        </div>
    </div>

    <hr>

    <div class="copyright">
        <div class="logo">
            <img src="{% static 'core/images/instapreps.png' %}">
        </div>
        <div class="rights">
            <h3>InstaPreps</h3>
            <p>Powered by 7Classes&copy; - 2021</p>
            <p>|| All rights reserved ||</p>
        </div>
    </div>
</footer>