{% extends 'core/base.html' %}
{% load static %}

{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock corecss %}

{% block title %}
    Home
{% endblock title %}

{% block header %}
    <header class="header">

        {% include 'core/navbar.html' %}

        <section class="header-content">
            <h3>Career in InstaPreps by 7Classes.</h3>
            <h1>Lets join together to follow our passion and build the future</h1>
            <a href="{% url 'dept' %}">Explore Jobs</a>
        </section>
    </header>
{% endblock header %}


{% block footer %}
    {% include 'core/footer.html' %}
{% endblock footer %}