{% load static %}
<nav class="navbar">
    <div class="logo">
        <a href=""><img src="{% static 'core/images/instapreps.png' %}"></a>
    </div>

    <div class="menubar" id="menu-click-bar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'dept' %}">Careers</a></li>
        </ul>
    </div>

    <div class="menu-icon" id="menu-click">
        <i class="fas fa-bars"></i>
    </div>
</nav>