@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Global Vriables
$color1 : #2e4053;
$color2: #f2f3f4;

// Mixins
@mixin flxBx($jstCnt, $alnItm) {
    display: flex;
    justify-content: $jstCnt;
    align-items: $alnItm;
    flex-wrap: wrap;
}
@mixin undrLin($u-th, $u-off) {
    text-decoration: underline;
    text-decoration-thickness: $u-th;
    text-underline-offset: $u-off;
}
@mixin textDsign($txt-trns, $ltr-spc, $fnt-wt, $fnt-sz) {
    text-transform: $txt-trns;
    letter-spacing: $ltr-spc;
    font-weight: $fnt-wt;
    font-size: $fnt-sz;
}
@mixin wdHgSize($wd, $ht){
    width: $wd;
    height: $ht;
}

// CSS Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none
}


// ####################################### NAVBAR START ######################################################
nav.navbar{
    @include flxBx(flex-start, center);
    margin: 10px 0;
    div.logo{
        width: 70%;
        img{
            @include wdHgSize(84px, 84px);
        }
    }
    div.menubar{
        width: 30%;
        ul{
            @include flxBx(space-evenly, center);
            li{
                @include textDsign(uppercase, 1px, 500, 15px);
                list-style: none;
                a{
                    color: $color2;
                }
            }
        }
    }

    div.menu-icon{
        display: none;
    }
}
// ######################################## NAVBAR END #######################################################











// ###################################### FOOTER START ######################################################
footer{
    background: #f2f3f4;
    color: $color1;
    padding: 30px 50px;
    hr{
        border: none;
        height: 1px;
        background: linear-gradient(90deg, rgba(44, 82, 60, 0), rgba(46, 64, 83, 0.75), rgba(33, 44, 60, 0));
    }
    .explore{
        @include flxBx(flex-start, center);
        padding-top: 23px;
        padding-bottom: 40px;
        h3{
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 2px;
        }
        .social-icons{
            margin-left: 2em;
            i{
                font-size: 1.4rem;
                padding: 5px 14px;
                color: #565773;
            }
        }
    }
    
    .info{
        @include flxBx(space-evenly, center);
        padding: 40px 0;
        .more-info{
            text-align: center;
            h3{
                text-transform: uppercase;
                letter-spacing: 1px;
                border-bottom: 3px solid #2E4053;
            }
            a{
                display: block;
                color: #565773;
                margin-top: 14px;
                letter-spacing: 1px;
                font-weight: 500;
                &:hover{
                    @include undrLin(2px, 3px);
                }
            }
        }
        .moto{
            width: 55%;
            h3{
                text-transform: uppercase;
                letter-spacing: 1px;
                @include undrLin(3px, 5px);
            }
            p{
                margin-top: 10px;
                line-height: 1.4;
                letter-spacing: 1px;
                word-spacing: 1px;
                strong{
                    color: #565773;
                }
            }
        }
    }
    
    .copyright{
        padding-top: 40px;
        @include flxBx(center, center) ;
        .logo img{
            @include wdHgSize(74px, 74px);
            cursor: pointer;
        }
        .rights{
            text-align: center;
            margin-left: 23px;
            h3{
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                margin-bottom: 3px;
                font-size: 1rem;
            }
            p{
                letter-spacing: 2px;
                line-height: 1.6;
                font-size: 0.8rem;
            }
        }
    }
}

// ####################################### FOOTER END #######################################################


// Media Queries
@media (max-width: 1100px){
    footer .info{
        justify-content: space-between;
    }
}
@media (max-width: 900px){
    nav.navbar{
        div.logo img {
            width: 74px;
            height: 74px;
        }
        div.menubar{
            @include wdHgSize(100%, 100vh);
            position: absolute;
            top: 0;
            left: 0;
            background: $color1;
            transform: translateY(-1200px);
            transition: .9s ease-in-out;  
            z-index: 5;
            ul{
                height: 100%;
                justify-content: space-evenly;
                flex-direction: column;
            }
            &.active{
                transform: translateY(0);
            }
        }
        div.menu-icon{
            position: absolute;
            right: 50px;
            z-index: 14;
            display: block;
            i{
                font-size: 36px;
                color: $color2;
                cursor: pointer;
            }
        }
    }
    footer .info{
        justify-content: space-evenly;
        .moto {
            width: 100%;
            margin-top: 68px;
        }
    }
}
@media (max-width: 657px){
    footer .explore{
        justify-content: space-evenly;
        .social-icons{
            margin-top: 1em;
        }
    }
}
@media (max-width: 624px){
    footer .explore .social-icons{
        margin-left: 0;
    }
}
@media (max-width: 550px){
    nav.navbar div.menu-icon{
        right: 18px;
        i {
            font-size: 30px;
        }
    }
}
@media (max-width: 417px){
    footer{
        padding-left: 18px;
        padding-right: 18px;
        .explore{
            h3{
                font-size: 1.1rem;
            }
            .social-icons i {
                font-size: 1.2rem;
            }
        }
    }
}