@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

nav.navbar div.logo {
  width: 70%;
}

nav.navbar div.logo img {
  width: 84px;
  height: 84px;
}

nav.navbar div.menubar {
  width: 30%;
}

nav.navbar div.menubar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav.navbar div.menubar ul li {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 15px;
  list-style: none;
}

nav.navbar div.menubar ul li a {
  color: #f2f3f4;
}

nav.navbar div.menu-icon {
  display: none;
}

footer {
  background: #f2f3f4;
  color: #2e4053;
  padding: 30px 50px;
}

footer hr {
  border: none;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(44, 82, 60, 0)), color-stop(rgba(46, 64, 83, 0.75)), to(rgba(33, 44, 60, 0)));
  background: linear-gradient(90deg, rgba(44, 82, 60, 0), rgba(46, 64, 83, 0.75), rgba(33, 44, 60, 0));
}

footer .explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 23px;
  padding-bottom: 40px;
}

footer .explore h3 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
}

footer .explore .social-icons {
  margin-left: 2em;
}

footer .explore .social-icons i {
  font-size: 1.4rem;
  padding: 5px 14px;
  color: #565773;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
}

footer .info .more-info {
  text-align: center;
}

footer .info .more-info h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 3px solid #2E4053;
}

footer .info .more-info a {
  display: block;
  color: #565773;
  margin-top: 14px;
  letter-spacing: 1px;
  font-weight: 500;
}

footer .info .more-info a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

footer .info .moto {
  width: 55%;
}

footer .info .moto h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

footer .info .moto p {
  margin-top: 10px;
  line-height: 1.4;
  letter-spacing: 1px;
  word-spacing: 1px;
}

footer .info .moto p strong {
  color: #565773;
}

footer .copyright {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .copyright .logo img {
  width: 74px;
  height: 74px;
  cursor: pointer;
}

footer .copyright .rights {
  text-align: center;
  margin-left: 23px;
}

footer .copyright .rights h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  font-size: 1rem;
}

footer .copyright .rights p {
  letter-spacing: 2px;
  line-height: 1.6;
  font-size: 0.8rem;
}

@media (max-width: 1100px) {
  footer .info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 900px) {
  nav.navbar div.logo img {
    width: 74px;
    height: 74px;
  }
  nav.navbar div.menubar {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #2e4053;
    -webkit-transform: translateY(-1200px);
            transform: translateY(-1200px);
    -webkit-transition: .9s ease-in-out;
    transition: .9s ease-in-out;
    z-index: 5;
  }
  nav.navbar div.menubar ul {
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.navbar div.menubar.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  nav.navbar div.menu-icon {
    position: absolute;
    right: 50px;
    z-index: 14;
    display: block;
  }
  nav.navbar div.menu-icon i {
    font-size: 36px;
    color: #f2f3f4;
    cursor: pointer;
  }
  footer .info {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .info .moto {
    width: 100%;
    margin-top: 68px;
  }
}

@media (max-width: 657px) {
  footer .explore {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .explore .social-icons {
    margin-top: 1em;
  }
}

@media (max-width: 624px) {
  footer .explore .social-icons {
    margin-left: 0;
  }
}

@media (max-width: 550px) {
  nav.navbar div.menu-icon {
    right: 18px;
  }
  nav.navbar div.menu-icon i {
    font-size: 30px;
  }
}

@media (max-width: 417px) {
  footer {
    padding-left: 18px;
    padding-right: 18px;
  }
  footer .explore h3 {
    font-size: 1.1rem;
  }
  footer .explore .social-icons i {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=core.css.map */