.header {
  width: 100%;
  height: 100vh;
  padding: 10px 50px;
  background: linear-gradient(57deg, #00c6a7bf, #1e4d92bf), url("/static/core/images/head.jpg") no-repeat center center/cover;
}

.header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  color: #f2f3f4;
}

.header .header-content h3 {
  font-size: 1.4rem;
  margin-bottom: 7px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.header .header-content h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: none;
  font-weight: 800;
  letter-spacing: 2px;
}

.header .header-content a {
  display: inline-block;
  color: #565773;
  border-radius: 14px;
  margin-top: 15px;
  padding: 20px 35px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background: linear-gradient(57deg, #09f4d0, #0b9bbb);
}

.header .header-content a:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: linear-gradient(57deg, #0b9bbb, #09f4d0);
}

@media (max-width: 1000px) {
  .header .header-content h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 800px) {
  .header .header-content h3 {
    font-size: 1.15rem;
  }
  .header .header-content h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  .header {
    padding: 14px;
  }
  .header .header-content h3 {
    font-size: 1rem;
  }
  .header .header-content h1 {
    font-size: 1.15rem;
  }
}
/*# sourceMappingURL=index.css.map */