@mixin txtDsgn($txt-trns, $fnt-wt, $ltr-spc){
    text-transform: $txt-trns;
    font-weight: $fnt-wt;
    letter-spacing: $ltr-spc;
}

.header{
    width: 100%;
    height: 100vh;
    padding: 10px 50px;
    background: linear-gradient(57deg, #00c6a7bf, #1e4d92bf), url("/static/core/images/head.jpg") no-repeat center center / cover;
    // #09F4D0, #0B9BBB
    .header-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        color: #f2f3f4;
        h3{
            font-size: 1.4rem;
            margin-bottom: 7px;
            @include txtDsgn(uppercase, 700, 2px);
            text-align: center;
        }
        h1{
            font-size: 2rem;
            text-align: center;
            @include txtDsgn(none, 800, 2px);
        }
        a{
            display: inline-block;
            color: #565773;
            border-radius: 14px;
            margin-top: 15px;
            padding: 20px 35px;
            transition: .3s ease-in-out;
            @include txtDsgn(uppercase, 700, 1px);
            background: linear-gradient(57deg, #09f4d0, #0b9bbb);
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                background: linear-gradient(57deg, #0b9bbb, #09f4d0);
            }
        }
    }
}


@media (max-width: 1000px){
    .header .header-content h1 {
        font-size: 1.7rem;
    }
}
@media (max-width: 800px){
    .header .header-content{
        h3 {
            font-size: 1.15rem;
        }
        h1 {
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 550px){
    .header{
        padding: 14px;
        .header-content{
            h3 {
                font-size: 1rem;
            }
            h1 {
                font-size: 1.15rem;
            }
        }
    }
}