
.text-danger{
    color: #DC143C;
    margin-top: 3px;
}
.alert{
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    font-weight: 600;
    font-size: 18px;
}
.alert-danger{
    padding: 1rem 1rem;
    margin: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.header{
    padding: 10px 50px;
    background: linear-gradient(57deg, #09f4d0, #0b9bbb);
}

h1{
    font-size: 40px;
    color: #565773;
    text-align: center;
    margin: 32px 0;
    padding-top: 23px;
    text-transform: uppercase;
}

section.apply-form{
    padding: 32px 0;
    .container{
        width: 65%;
        background: #F2F4F4;
        border-radius: 20px;
        margin: 23px auto;
        padding: 23px;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
        .form-group{
            padding: 14px;
            color: #565773;
            label{
                display: block;
                font-weight: 600;
                margin-bottom: 7px;
                font-size: 20px;
                letter-spacing: 2px;
            }
            input{
                display: block;
                width: 80%;
                height: 43px;
                border: none;
                outline: none;
                font-size: 17px;
                padding: 16px;
                padding-left: 32px;
                border-radius: 25px;
                letter-spacing: 1px;
                &:focus{
                    box-shadow: 0 0 0 rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
                }
            }
        }
        .btn{
            display: inline-block;
            border: none;
            outline: none;
            padding: 20px 35px;
            margin-top: 25px;
            color: #565773;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: 14px;
            transition: .3s ease-in-out;
            background: linear-gradient(57deg, #09f4d0, #0b9bbb);
            &:hover{
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
                background: linear-gradient(57deg, #0b9bbb, #09f4d0);
            }
        }
    }
}


@media (max-width: 1050px){
    section.apply-form .container .form-group input{
        width: 90%;
    }
    section.apply-form .container {
        width: 80%;
    }
}
@media(max-width: 700px){
    section.apply-form .container .form-group input {
        width: 100%;
    }
}
@media (max-width: 550px){
    .header {
        padding: 10px;
    }
    h1 {
        font-size: 32px;
        font-weight: 800;
    }
    section.apply-form .container {
        width: 85%;
        padding: 14px;
    }
    section.apply-form .container .form-group {
        padding-left: 5px;
        padding-right: 5px;
    }
    section.apply-form .container .form-group label {
        font-size: 17px;
    }
}
@media(max-width: 400px){
    h1 {
        font-size: 27px;
    }
    section.apply-form .container .form-group label {
        font-size: 14px;
    }
    section.apply-form .container .form-group input {
        height: 40px;
        font-size: 11px;
        padding: 10px;
        padding-left: 18px;
    }
}