@mixin txtDsgn($fn-sz, $fn-wt, $lt-sp) {
    font-size: $fn-sz;
    color: #2e4053;
    font-weight: $fn-wt;
    letter-spacing: $lt-sp;
}
.header{
    padding: 10px 50px;
    background: linear-gradient(57deg, #09f4d0, #0b9bbb);
}

section.vision{
    background: #f2f3f4;
    padding: 50px;
    text-align: center;
    .txt{
        @include txtDsgn(30px, 500, 1px);
    }
    
    .dynamic-txt{
        overflow: hidden;
        line-height: 90px;
        height: 90px;
        li{
            font-size: 60px;
            font-weight: 700;
            list-style: none;
            position: relative;
            top: 0;
            animation: slide 6s steps(4) infinite;
            span{
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: #f2f3f4;
                    border-left: 2px solid #2e4053;
                    animation: typing 1.5s steps(7) infinite;
                }
            }
        }
    }
    .static-txt{
        @include txtDsgn(60px, 500, 1px);
    }
    p{
        margin-top: 14px;
        @include txtDsgn(23px, 400, 1px)
    }
}

section.departments{
    padding: 100px 50px;
    background: #3e567c;
    .section-heading{
        @include txtDsgn(50px, 700, 2px);
        color: #a9cce3;
        text-transform: uppercase;
        padding-bottom: 23px;
    }
    .dpt-name{
        margin-top: 23px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        a{
            display: block;
            text-align: center;
            width: 33%;
            margin: 14px 0;
            padding: 14px 0;
            h3{
                @include txtDsgn(16px, 600, 2px);
                color: #f2f3f4;
                &:hover{
                    text-decoration: underline;
                    text-decoration-thickness: 3px;
                    text-underline-offset: 3px;
                }
            }
        }
    }
}

// ########################################### ANIMATIONS START ##########################################################
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
@keyframes slide {
    100%{
        top: -360px;
    }
}
// ############################################ ANIMATIONS END ###########################################################




@media (max-width: 550px){
    .header {
        padding: 10px;
    }
    section.departments .section-heading {
        text-align: center;
    }
    section.vision {
        padding-left: 10px;
        padding-right: 10px;
    }
    section.vision .static-txt {
        font-size: 50px;
    }
    section.departments {
        padding-left: 10px;
        padding-right: 10px;
    }
    section.departments .dpt-name a {
        width: 100%;
    }
    section.departments .section-heading {
        font-size: 41px;
        letter-spacing: 1px;
    }
}

@media (max-width: 390px){
    section.vision .static-txt {
        font-size: 38px;
    }
    section.vision p {
        font-size: 18px;
    }
    section.vision .dynamic-txt li {
        font-size: 45px;
    }
    section.departments .section-heading {
        font-size: 32px;
    }
    section.departments .dpt-name a h3 {
        font-size: 15px
    }
}