.header {
  padding: 10px 50px;
  background: linear-gradient(57deg, #09f4d0, #0b9bbb);
}

section.vision {
  background: #f2f3f4;
  padding: 50px;
  text-align: center;
}

section.vision .txt {
  font-size: 30px;
  color: #2e4053;
  font-weight: 500;
  letter-spacing: 1px;
}

section.vision .dynamic-txt {
  overflow: hidden;
  line-height: 90px;
  height: 90px;
}

section.vision .dynamic-txt li {
  font-size: 60px;
  font-weight: 700;
  list-style: none;
  position: relative;
  top: 0;
  -webkit-animation: slide 6s steps(4) infinite;
          animation: slide 6s steps(4) infinite;
}

section.vision .dynamic-txt li span {
  position: relative;
}

section.vision .dynamic-txt li span::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f2f3f4;
  border-left: 2px solid #2e4053;
  -webkit-animation: typing 1.5s steps(7) infinite;
          animation: typing 1.5s steps(7) infinite;
}

section.vision .static-txt {
  font-size: 60px;
  color: #2e4053;
  font-weight: 500;
  letter-spacing: 1px;
}

section.vision p {
  margin-top: 14px;
  font-size: 23px;
  color: #2e4053;
  font-weight: 400;
  letter-spacing: 1px;
}

section.departments {
  padding: 100px 50px;
  background: #3e567c;
}

section.departments .section-heading {
  font-size: 50px;
  color: #2e4053;
  font-weight: 700;
  letter-spacing: 2px;
  color: #a9cce3;
  text-transform: uppercase;
  padding-bottom: 23px;
}

section.departments .dpt-name {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.departments .dpt-name a {
  display: block;
  text-align: center;
  width: 33%;
  margin: 14px 0;
  padding: 14px 0;
}

section.departments .dpt-name a h3 {
  font-size: 16px;
  color: #2e4053;
  font-weight: 600;
  letter-spacing: 2px;
  color: #f2f3f4;
}

section.departments .dpt-name a h3:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

@-webkit-keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@-webkit-keyframes slide {
  100% {
    top: -360px;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

@media (max-width: 550px) {
  .header {
    padding: 10px;
  }
  section.departments .section-heading {
    text-align: center;
  }
  section.vision {
    padding-left: 10px;
    padding-right: 10px;
  }
  section.vision .static-txt {
    font-size: 50px;
  }
  section.departments {
    padding-left: 10px;
    padding-right: 10px;
  }
  section.departments .dpt-name a {
    width: 100%;
  }
  section.departments .section-heading {
    font-size: 41px;
    letter-spacing: 1px;
  }
}

@media (max-width: 390px) {
  section.vision .static-txt {
    font-size: 38px;
  }
  section.vision p {
    font-size: 18px;
  }
  section.vision .dynamic-txt li {
    font-size: 45px;
  }
  section.departments .section-heading {
    font-size: 32px;
  }
  section.departments .dpt-name a h3 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=dept.css.map */