@mixin txtDsgn($txt-tf, $fn-wt, $lt-sp){
    text-transform: $txt-tf;
    font-weight: $fn-wt;
    letter-spacing: $lt-sp;
}


.header{
    padding: 10px 50px;
    background: linear-gradient(57deg, #09f4d0, #0b9bbb);
}


section.posts{
    padding: 50px 0;
    .post{
        background: #f8f9f9;
        border-radius: 20px;
        width: 70%;
        margin: 14px auto;
        padding: 23px;
        box-shadow: 0 0 0  rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
        h1{
            color: #2e4053;
            font-weight: 800;
            font-size: 36px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .info{
            display: flex;
            margin: 20px 0;
            p{
                font-size: 17px;
            }
            >p{
                margin-right: 23px;
            }
        }
        .quali{
            h3{
                margin-top: 14px;
                font-size: 21px;
                font-weight: 700;
                letter-spacing: 1px;
                color: #565773;
            }
            p{
                font-size: 17px;
                margin-top: 14px;
                margin-left: 23px;
            }
        }
        a{
            display: inline-block;
            color: #565773;
            border-radius: 14px;
            margin-top: 25px;
            padding: 20px 35px;
            transition: .3s ease-in-out;
            @include txtDsgn(uppercase, 700, 1px);
            background: linear-gradient(57deg, #09f4d0, #0b9bbb);
            &:hover{
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
                background: linear-gradient(57deg, #0b9bbb, #09f4d0);
            }
        }
    }
}



@media (max-width: 1100px){
    section.posts .post {
        width: 80%;
    }
}


@media (max-width: 550px){
    .header {
        padding: 10px;
    }
    section.posts .post {
        width: 85%;
    }
}

@media (max-width: 460px){
    section.posts .post h1 {
        font-size: 32px;
    }
    section.posts .post .info p {
        font-size: 14px;
    }
    section.posts .post .quali h3 {
        font-size: 19px;
    }
    section.posts .post .quali p {
        font-size: 14px;
    }
    section.posts .post a {
        padding: 16px 23px
    }
}

@media (max-width: 415px){
    ssection.posts .post {
        padding-left: 14px;
        padding-right: 14px;
    }
    section.posts .post h1 {
        font-size: 23px;
    }
    section.posts .post .info {
        text-align: center;
    }
    section.posts .post a {
        padding: 15px 19px;
        font-size: 14px;
    }
}