.header {
  padding: 10px 50px;
  background: linear-gradient(57deg, #09f4d0, #0b9bbb);
}

section.posts {
  padding: 50px 0;
}

section.posts .post {
  background: #f8f9f9;
  border-radius: 20px;
  width: 70%;
  margin: 14px auto;
  padding: 23px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
}

section.posts .post h1 {
  color: #2e4053;
  font-weight: 800;
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

section.posts .post .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

section.posts .post .info p {
  font-size: 17px;
}

section.posts .post .info > p {
  margin-right: 23px;
}

section.posts .post .quali h3 {
  margin-top: 14px;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #565773;
}

section.posts .post .quali p {
  font-size: 17px;
  margin-top: 14px;
  margin-left: 23px;
}

section.posts .post a {
  display: inline-block;
  color: #565773;
  border-radius: 14px;
  margin-top: 25px;
  padding: 20px 35px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background: linear-gradient(57deg, #09f4d0, #0b9bbb);
}

section.posts .post a:hover {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
  background: linear-gradient(57deg, #0b9bbb, #09f4d0);
}

@media (max-width: 1100px) {
  section.posts .post {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .header {
    padding: 10px;
  }
  section.posts .post {
    width: 85%;
  }
}

@media (max-width: 460px) {
  section.posts .post h1 {
    font-size: 32px;
  }
  section.posts .post .info p {
    font-size: 14px;
  }
  section.posts .post .quali h3 {
    font-size: 19px;
  }
  section.posts .post .quali p {
    font-size: 14px;
  }
  section.posts .post a {
    padding: 16px 23px;
  }
}

@media (max-width: 415px) {
  ssection.posts .post {
    padding-left: 14px;
    padding-right: 14px;
  }
  section.posts .post h1 {
    font-size: 23px;
  }
  section.posts .post .info {
    text-align: center;
  }
  section.posts .post a {
    padding: 15px 19px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=job.css.map */