


.alert{
    color: #0f5132;
    background: #d1e7dd;
    border-color: #badbcc;
    font-weight: 700;
    font-size: 18px;
}
.alert-success{
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 1rem;
}


.header{
    padding: 10px 50px;
    background: linear-gradient(57deg, #09f4d0, #0b9bbb);
}

.msg{
    padding: 50px;
    .container{
        width: 65%;
        margin: 10px auto;
    }
    .content{
        text-align: center;
        color: #565773;
        margin-top: 14px;
        h1{
            font-size: 36px;
            letter-spacing: 2px;
        }
        p{
            margin-top: 5px;
            font-weight: 600;
            font-size: 18px;
        }
    }
    .btns{
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 32px;
        a{
            display: inline-block;
            color: #565773;
            border-radius: 14px;
            padding: 20px 35px;
            margin-top: 10px;
            transition: .3s ease-in-out;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            background: linear-gradient(57deg, #09f4d0, #0b9bbb);
            &:hover{
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
                background: linear-gradient(57deg, #0b9bbb, #09f4d0);
            }
        }
    }
}


@media (max-width: 550px){
    .header {
        padding: 10px;
    }
}