.alert {
  color: #0f5132;
  background: #d1e7dd;
  border-color: #badbcc;
  font-weight: 700;
  font-size: 18px;
}

.alert-success {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 1rem;
}

.header {
  padding: 10px 50px;
  background: linear-gradient(57deg, #09f4d0, #0b9bbb);
}

.msg {
  padding: 50px;
}

.msg .container {
  width: 65%;
  margin: 10px auto;
}

.msg .content {
  text-align: center;
  color: #565773;
  margin-top: 14px;
}

.msg .content h1 {
  font-size: 36px;
  letter-spacing: 2px;
}

.msg .content p {
  margin-top: 5px;
  font-weight: 600;
  font-size: 18px;
}

.msg .btns {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
}

.msg .btns a {
  display: inline-block;
  color: #565773;
  border-radius: 14px;
  padding: 20px 35px;
  margin-top: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background: linear-gradient(57deg, #09f4d0, #0b9bbb);
}

.msg .btns a:hover {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
  background: linear-gradient(57deg, #0b9bbb, #09f4d0);
}

@media (max-width: 550px) {
  .header {
    padding: 10px;
  }
}
/*# sourceMappingURL=thank.css.map */